:root {
    --text: #d7edfe;
    --background: #112332;
    --primary: #fda863;
    --secondary: #011628;
    --accent: #f16f04;
}

body {
    display: flex;
    place-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    justify-content: center;
    background: var(--background);
    margin: 0;
}

.container {
    display: flex;
    gap: 2em;
    background: var(--secondary);
    padding: 1em;
    width: 100%;
    top: 0;
    /* position: fixed; */
    float: right;
}

a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 .4em;
    position: relative;
}