:root {
    --text: #e4fbee;
    --background: #030219;
    --primary: #2ee0d1;
    --secondary: #071d2d;
    --accent: #1e84cc; 
}

body {
    display: flex;
    place-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    justify-content: center;
    background: var(--background);
    margin: 0;
}

/* .logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: scale(.7);
} */

.container {
    display: flex;
    gap: 2em;
    background: var(--secondary);
    padding: 1em 4em 1em 1em;
    width: 100%;
    top: 0;
    place-content: end;
    position: fixed;
}

nav a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 .4em;
    position: relative;
    padding: .2em .35em;
    transition: .3s;
    border-radius: 25px;
}

nav a:hover {
    color: var(--secondary);
    border-radius: 50px;
    background: var(--primary)
}